# Base de dados
DATABASE_URL=postgresql://user:password@localhost:5432/portfolio_db

# Redis
REDIS_URL=redis://localhost:6379

# GitHub (gera em: github.com/settings/tokens — scope: public_repo, read:user)
GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GITHUB_USER=NiltonCarlosdawg

# Admin (mínimo 32 chars — gera com: openssl rand -hex 32)
ADMIN_SECRET=change_me_to_a_random_32_char_string

# Servidor
PORT=3333
NODE_ENV=development
